# You should 'git rm' folders or files after modifying .gitignore
.idea
main/static/export/*.csv
# main/static/export/*/*.csv
main/static/report/*.png
main/static/report/*.txt
main/static/report/全球疫情发展大数据分析周报*.docx
__py
__pycache__/
tmp/
main/static/data/owd.csv
main/static/data/*.xlsx