<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>

</head>
<body>

    <h2>File Upload</h2>
    <form method="post" action="{% url 'report' %}" enctype="multipart/form-data" style="padding-left: 20px;">
        {% csrf_token %}
        Wang Chu Data to upload: <br><br>
        <input type="file" name="wxb_file" />
        <hr>
        Our Data in Human Data to upload:
        You can download it from:
        <a href="https://covid.ourworldindata.org/data/owid-covid-data.csv">OWD</a>
        <br><br>
        <input type="file" name="ourworldindata" />
        <br><hr>
        <input type="submit" value="submit"/>
        <br><br><br>
        <hr>
    </form>

    <h2>Folder upload</h2>
    If you have processed the raw data, you can upload the processed files directly.
    <form method="post" action="{% url 'report' %}" enctype="multipart/form-data" style="padding-left: 20px;">
        {% csrf_token %}
        <input type="file" name="folder" webkitdirectory/>
        <input type="submit" value="submit"/>
        <br><br><br>
        <hr>
    </form>
</body> 